<!DOCTYPE html>
<header>
  <h1>Plateforme de Gestion des Produits</h1>
</header>
<nav>
  <ul>
    <li><a routerLink="/">Accueil</a></li>
    <li><a routerLink="/products">Liste des Produits</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<body>
  <h2>Bienvenue sur la plateforme de gestion des produits</h2>
  <h3>Pour accéder à la liste des produits, veuillez cliquer sur "Liste des Produits". <br>
    Depuis la page "Liste des Produits", vous pourrez ajouter un produits, voir la liste des produits disponibles ainsi qu'accéder à la page de détails d'un produit pour voir les détails de celui-ci ainsi que les modifier</h3>

    <button (click)="login()">
      Connexion
    </button>

    <button (click)="logout()">
      Déconnexion
    </button>


</body>

